h5 {
  margin-bottom: 0;
}
input.text {
  width: 100%;
}

p.description {
  margin-top: 0;
  color: var(--color--secondary);
  font-size: 0.8em;
}

nav.navbar {
  padding-left: 0;
  padding-top: 0;
}
